<h1>About</h1>
<div class="container">
  <p><i>Welcome to Jungle, your number one source for all products, ie: shoes, bags, furniture, etc. We're dedicated to giving you the very best of products, with a focus on dependability, customer service and uniqueness.</i></p>
</div>


